
<ion-content>
  <div style="margin:40%;"></div>
<ion-card>
  <ion-card-header text-center>
    <ion-card-title ></ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="padding"></div>
    <form>
    <ion-item class="rounded">
      <ion-input type="text" placeholder="username" name="username" [(ngModel)]="postData.username"></ion-input>
    </ion-item>
    <div class="padding"></div>
    <ion-item class="rounded">
      <ion-input type="password" placeholder="password" name="password" [(ngModel)]="postData.password"></ion-input>
    </ion-item>
    <div class="padding"></div>
      <ion-button (click) = "loginAction()" shape="round" Expand="block" color="success">Login</ion-button>
    <span class="divider line one-line">or</span>
      <ion-button [routerLink]="['/register']"shape="round" Expand="block" color="danger">Registrati</ion-button>
    </form>
  </ion-card-content>
</ion-card>

</ion-content>
