<ion-content>
<ion-card>
  <ion-card-header text-center>
    <ion-card-title ></ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="padding"></div>
    <form [formGroup] ="loginForm">
    <ion-item class="rounded">
      <ion-input formControlName="email" type="text" placeholder="email" name="email"></ion-input>
    </ion-item>

<div class="error-messages">
  <ng-container *ngFor="let error of error_messages.email">
    <div class="error-messages" *ngIf="loginForm.get('email').hasError(error.type) && (loginForm.get('email').dirty || loginForm.get('email').touched)">
      <ion-label color="danger"><ion-icon name="information-circle-outline"></ion-icon><span>{{error.message}}</span></ion-label>
    </div>
  </ng-container>
</div>


    <div class="padding"></div>
    <ion-item class="rounded">
      <ion-input formControlName="password" type="password" placeholder="password" name="password"></ion-input>
    </ion-item>
    <div class="error-messages">
      <ng-container *ngFor="let error of error_messages.password">
        <div class="error-messages" *ngIf="loginForm.get('password').hasError(error.type) && (loginForm.get('password').dirty || loginForm.get('password').touched)">
          <ion-label color="danger"><ion-icon name="information-circle-outline"></ion-icon><span>{{error.message}}</span></ion-label>
        </div>
      </ng-container>
    </div>
    


    <div class="padding"></div>
     <ion-button (click)="login()" [disabled]="!loginForm.valid" shape="round" size="default" class="button" expand="block">Login</ion-button>
    <span class="divider line one-line">or</span>
      <ion-button [routerLink]="['/register']"shape="round" Expand="block" class="button">Registrati</ion-button>
    </form>
  </ion-card-content>
</ion-card>
<ion-item lines="none"><img src="../../../assets/img/icon.png" alt=""></ion-item>
</ion-content>