ion-content{
    --ion-background-color:  linear-gradient(135deg, rgba(188,78,156,1) 0%, rgba(248,7,89,1) 100%);
}
ion-card{
    --ion-background-color: #fff;
    //box-shadow: none;
    margin: 0;
    padding: 10% 0 20% 0;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
}
.padding{
    padding: 5%;
}

.rounded{
    border-radius: 20px;
}

.divider {
    display: flex;
    
    &:before,
    &:after {
      content: "";
      flex: 1;
    }
}
  
.line {
    align-items: center;
    margin: 1em -1em;
    color: #969696;
    
    &:before,
    &:after {
      height: 1px;
      margin: 0 1em;
    }
} 

.one-line {
    &:before,
    &:after {
       background: #969696;
    }
}

.error-messages{
    margin-top:2%;
    margin-left: 2%;
}
.error-messages ion-icon{
    vertical-align: middle;
    padding-right: 1%;
}
.error-messages span{
    display: inline-block;
    vertical-align: middle;
}

img {
    width: 40%;
    height: auto;
    margin:  15% auto;
}
ion-item{
    --ion-background-color: transparent;
}
.button{
    --background: linear-gradient(135deg, rgba(188,78,156,1) 0%, rgba(248,7,89,1) 100%);
}