ion-content{
    --ion-background-color: linear-gradient(90deg, rgba(255,154,158,1) 0%, rgba(254,207,239,1) 100%);
}
ion-card{
    --ion-background-color: rgba(255, 255, 255, .8);
}
.padding{
    padding: 5%;
}

.rounded{
    border-radius: 20px;
}

.divider {
    display: flex;
    
    &:before,
    &:after {
      content: "";
      flex: 1;
    }
}
  
.line {
    align-items: center;
    margin: 1em -1em;
    color: #969696;
    
    &:before,
    &:after {
      height: 1px;
      margin: 0 1em;
    }
} 

.one-line {
    &:before,
    &:after {
       background: #969696;
    }
}