ion-card{
    margin: 0;
    box-shadow: none;
}
ion-card-content{
    padding: 0;
}
ion-card-title{
    font-size:32px;
}
ion-card-subtitle{
    font-size: 18px;
}
ion-footer{
    border: none;
    padding: 3%;
    box-shadow: none;
}
ion-button{
    font-size: 18px;
    margin-left: 2%;
}

