<ion-content>
  <ion-card>
    <div (click) ="presentPopover()" >
      <ion-card-content>
      <ion-img   src={{info.image}}></ion-img>
      </ion-card-content>
    </div>
    
    <ion-card-header>
      <ion-card-subtitle>
        <ion-textarea [(ngModel)]="info.bio" type="text" maxlength=256 value={{info.bio}} placeholder="Insert your bio" rows=10 ></ion-textarea>
      </ion-card-subtitle>
    </ion-card-header>
   
  </ion-card>
  
</ion-content>

<ion-footer>
  <ion-button  (click)="send()" color="success">Conferma</ion-button> <ion-button (click)="closeModal()" color="danger">Annulla</ion-button>
</ion-footer>