ion-content{
    --ion-background-color:  linear-gradient(135deg, rgba(188,78,156,1) 0%, rgba(248,7,89,1) 100%);
}

ion-card{
    margin: 0;
    padding: 15% 5% 20% 5%;
    --ion-background-color: rgba(255, 255, 255, 1);
    border-bottom-left-radius: 32%;
    border-bottom-right-radius: 32%;
}
ion-card-content{
    margin-bottom: 2%;
}
ion-card-title{
    font-size: 24px;
}

.avatar{
    width: 150px;
    height: auto;
    margin: 0 auto;
}
.icon{
    font-size: 3em;
    
}
.camera{
    font-size: 4em;
    
}

.slider{
    margin-top: 100px;
    font-family: 'Spartan', sans-serif;
}

ion-slides{
    
    --bullet-background-active: rgba(230, 176, 0,1);
    --bullet-background:rgba(0,0,0);
}

.capitalize {
    text-transform: capitalize;
 }