<head>
    <link href="https://fonts.googleapis.com/css?family=Spartan&display=swap" rel="stylesheet">
  </head>
  <ion-content class="background-image">
  
  <ion-card>
    <ion-card-content>
        <img style="-webkit-box-shadow: -1px 0px 15px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: -1px 0px 15px 0px rgba(0,0,0,0.75);
        box-shadow: -1px 0px 15px 0px rgba(0,0,0,0.75);" class="img" src="https://placeimg.com/300/300/people" />
      
        <ion-item lines="none">
          <ion-label  class="label">Riccardo,22</ion-label>
        </ion-item>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item  class ="settings" lines="none">
                <ion-icon class="s" src="../../assets/icon/settings.svg"></ion-icon>  
              </ion-item>
            </ion-col>
            <ion-col>
              
            </ion-col>
            <ion-col>
              
            </ion-col>
            <ion-col>
              <ion-item  class ="settings" lines="none">
                <ion-icon  class="s" name="pencil-outline"></ion-icon>
              </ion-item>
            </ion-col>
          </ion-row>
          </ion-grid>
  
  
  
  
        <ion-item  class ="cameraclass" lines="none">
          <ion-icon class="c" src="../../assets/icon/photo.svg"></ion-icon>
        </ion-item>
  
  
    </ion-card-content>
  </ion-card>
  
  <ion-slides pager class="slider">
    <ion-slide>
      <h1>Hai 10 chat attive nel tuo profilo</h1>
    </ion-slide>
    <ion-slide>
      <h1>Inizia a mettere mi piace per essere ricambiato!</h1>
    </ion-slide>
    <ion-slide>
      <h1>Scopri tutte le novità di Pinder</h1>
    </ion-slide>
  </ion-slides>
</ion-content>