<head>
    <link href="https://fonts.googleapis.com/css?family=Spartan&display=swap" rel="stylesheet">
  </head>
  <ion-content >
  
  <ion-card (click)="openModal()">
    <ion-card-content>
      <ion-avatar  class="avatar"><img  src={{image}}></ion-avatar>
    </ion-card-content>
    <ion-card-header>
      <ion-card-title class="ion-text-center capitalize">{{name}}, {{age}}</ion-card-title>
    </ion-card-header>
  </ion-card>
  
  <ion-slides class="slider" pager>
    <ion-slide>
      <h3>Hai 10 chat attive nel tuo profilo</h3>
    </ion-slide>
    <ion-slide>
      <h3>Inizia a mettere mi piace per essere ricambiato!</h3><br>
    </ion-slide>
    <ion-slide>
      <h3>Scopri tutte le novità di Pinder</h3>
    </ion-slide>
  </ion-slides>
</ion-content>