ion-content{
    --ion-background-color:  linear-gradient(135deg, rgba(188,78,156,1) 0%, rgba(248,7,89,1) 100%);
}
ion-card{
    --ion-background-color: rgba(255, 255, 255, .8);
}
.padding{
    padding: 5%;
}

.rounded{
    border-radius: 20px;
}
ion-button{
    --ion-item-background:black;
}

.error-messages{
    margin-top:2%;
    margin-left: 2%;
}
.error-messages ion-icon{
    vertical-align: middle;
    padding-right: 1%;
}
.error-messages span{
    display: inline-block;
    vertical-align: middle;
}