
<ion-content>
  <div style="margin:30%;"></div>
<ion-card>
  <ion-card-header text-center>
    <ion-card-title ></ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <div class="padding"></div>
    <ion-item class="rounded">
      <ion-input type="text" placeholder="username"></ion-input>
    </ion-item>
    <div class="padding"></div>
    <ion-item class="rounded">
      <ion-input type="email" placeholder="email"></ion-input>
    </ion-item>
    <div class="padding"></div>
    <ion-item class="rounded">
      <ion-input type="password" placeholder="password"></ion-input>
    </ion-item>
    <div class="padding"></div>
    <ion-col>
      <ion-button shape="round" Expand="block" color="danger">Registrati</ion-button>
    </ion-col>
  </ion-card-content>
</ion-card>
</ion-content>
