<ion-content class="background">
<div class="margin"></div>
<ion-card>
  <ion-card-header>
    <ion-card-title>
      <h3>Registrati</h3>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-item>
      <ion-input type="text" placeholder="username"></ion-input>
    </ion-item>
    <div style="padding:5%"></div>
    <ion-item>
      <ion-input type="email" placeholder="email"></ion-input>
    </ion-item>
    <div style="padding:5%"></div>
    <ion-item>
      <ion-input type="password" placeholder="password"></ion-input>
    </ion-item>
    <div style="padding:5%"></div>
    <ion-button shape=round expand="block" color="primary">Registrati</ion-button>
  </ion-card-content>
</ion-card>
</ion-content>
