
<ion-content>
  <div style="margin:30%;"></div>
<ion-card>
  <ion-card-header text-center>
    <ion-card-title ></ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <form>
    <div class="padding"></div>
    <ion-item class="rounded">
      <ion-input type="text" placeholder="username" name="username" [(ngModel)]="postData.username"></ion-input>
    </ion-item>
    <div class="padding"></div>
    <ion-item class="rounded">
      <ion-input type="email" placeholder="email" name="email" [(ngModel)]="postData.email"></ion-input>
    </ion-item>
    <div class="padding"></div>
    <ion-item class="rounded">
      <ion-input type="password" placeholder="password" name="password" [(ngModel)]="postData.password"></ion-input>
    </ion-item>
    <div class="padding"></div>
    <ion-col>
      <ion-button (click)="signupAction()" shape="round" Expand="block" color="danger">Registrati</ion-button>
    </ion-col>
    </form>
  </ion-card-content>
</ion-card>
</ion-content>
