#card-container{
  position: relative;
}
ion-card{
  position: absolute;
  width: 99%;
  height: 50%;
  border-radius: 10px;
  --ion-background-color: rgba(255, 255, 255, 1);
  box-shadow: none;
  margin: .5%;
}
ion-card-content{
  padding-left: 0;
  padding-right: 0;
  padding-top: 1px;
}
