
<div id="card-container" *ngFor="let card of cards; let i = index;"  [ngStyle]="{ zIndex: cards.length - i, transform: 'translateY(-' + 1 * i + 'px)' }">
    <ion-card #{{card.id}} #tinderCard >
        
        <ion-card-content>
            <ion-img src={{card.img}}></ion-img>
            <div style="margin-bottom: 5%;"></div>
        </ion-card-content>
        <ion-card-header>
            <ion-card-title>
                {{card.title}}
            </ion-card-title>
            <ion-card-subtitle>
                {{card.description}}
            </ion-card-subtitle>
        </ion-card-header>
        <div style="margin-bottom: 5%;"></div>
    </ion-card>
</div>